<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4>Subir archivo CSV</h4>
      </div>
      <div class="card-body col-md-6 mb-4">
        <form (ngSubmit)="onSubmit()" #fileForm="ngForm">
          <div class="form-group col-md-6 mb-4">
            <label for="period">Periodo</label>
            <input
              type="month"
              class="form-control"
              id="period"
              name="period"
              [(ngModel)]="period"
              required
            />
          </div>

          <div class="form-group">
            <label for="fileInput" class="bmd-label-static">Subir archivo CSV</label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="fileInput"
                (change)="onFileSelected($event)"
                accept=".csv"
              />
              <label class="custom-file-label" for="fileInput">
                {{ fileName || "Seleccionar archivo" }}</label>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!file || !period"
          >
            Subir archivo
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Colapsable para import-lines -->
  <div class="row mt-4" *ngIf="selectedBatchId != null">
    <div class="card w-100">
      <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">
          <button
            class="btn btn-link text-white"
            type="button"
            data-toggle="collapse"
            data-target="#importLinesCollapse"
            aria-expanded="false"
            aria-controls="importLinesCollapse"
          >
          <span class="material-icons">keyboard_double_arrow_down</span> Ver líneas importadas
          </button>
        </h5>
      </div>
      <div id="importLinesCollapse" class="collapse">
        <div class="card-body">
          <import-lines
            [batchId]="selectedBatchId"
            (hasErrors)="onImportLinesErrors($event)"
          ></import-lines>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila para approve-batch-button y generate-movements-button -->
  <div class="row mt-4" *ngIf="selectedBatchId != null">
    <div class="card w-50">
      <div class="d-flex align-items-center">
        <div *ngIf="linesWithErrors === false">
          <approve-batch-button
            [batchId]="selectedBatchId"
            (approved)="onApproved($event)"
          ></approve-batch-button>
        </div>
        <span class="mx-2" *ngIf="approvalStatus === true">
          <span class="material-icons">arrow_forward</span>
        </span>
        <div *ngIf="approvalStatus === true">
          <generate-movements-button
            [batchId]="selectedBatchId"
            (movementsGenerated)="onMovementsCreated($event)"
          ></generate-movements-button>
        </div>
        <span class="mx-2" *ngIf="movementsCreated === true">
          <span class="material-icons">arrow_forward</span>
        </span>
        <div *ngIf="movementsCreated === true">
          <button
            class="btn btn-info"
            (click)="viewMovements()"
          >
            Ver movimientos
          </button>
        </div>
      </div>
      <div class="text-danger mt-2" *ngIf="linesWithErrors === true">
        No se puede aprobar el lote porque contiene errores.
      </div>
    </div>
  </div>
</div>