<div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger mb-4">
            <h4 class="card-title">Movimientos</h4>
            <p class="card-category">
              Listado de movimientos existentes en el sistema
            </p>
          </div>
          <div class="col-md-6 mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTerm"
              (input)="onSearchTermChange()"
            />
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th (click)="onSort('id')">ID</th>
                    <th (click)="onSort('amount')">Monto</th>
                    <th (click)="onSort('createdDate')">Fecha</th>
                    <th (click)="onSort('createdByUser')">Creado por</th>
                    <th (click)="onSort('sourceAccount')">Cuenta Origen</th>
                    <th (click)="onSort('sourceAccountNumber')">Numero</th>
                    <th (click)="onSort('targetAccount')">Cuenta Destino</th>
                    <th (click)="onSort('targetAccount')">Numero</th>
                    <th (click)="onSort('period')">Período</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movement of filteredMovements">
                    <td>{{ movement.id }}</td>
                    <td>{{ movement.amount | currency }}</td>
                    <td>{{ movement.createdDate | date }}</td>
                    <td>{{ movement.createdByUser.description }}</td>
                    <td>{{ movement.sourceAccount.name }}</td>
                    <td>{{ movement.sourceAccount.number }}</td>
                    <td>{{ movement.targetAccount.name }}</td>
                    <td>{{ movement.targetAccount.number }}</td>
                    <td>
                    {{ movement.period.startDate | date }} - {{ movement.period.endDate | date }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav>
              <ul class="pagination">
                <li
                  class="page-item"
                  [class.disabled]="currentPage === 1"
                  (click)="onPageChange(currentPage - 1)"
                >
                  <a class="page-link">Anterior</a>
                </li>
                <li
                  class="page-item"
                  *ngFor="
                    let page of [].constructor(
                      Math.ceil(filteredMovements.length / itemsPerPage)
                    );
                    let i = index
                  "
                  [class.active]="currentPage === i + 1"
                  (click)="onPageChange(i + 1)"
                >
                  <a class="page-link">{{ i + 1 }}</a>
                </li>
                <li
                  class="page-item"
                  [class.disabled]="
                    currentPage ===
                    Math.ceil(filteredMovements.length / itemsPerPage)
                  "
                  (click)="onPageChange(currentPage + 1)"
                >
                  <a class="page-link">Siguiente</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  